langchain_huggingface
crewai
langchain
weasyprint
ollama
langchain-ollama
langchain-core 
langchain-community
langchain-classic
langchain-text-splitters
chromadb
langchain
sentence-transformers
langchain_huggingface
sentence-transformers
docx2txt
langchain_openai 
xgboost 
shap 
faiss-cpu
pandas   